.tasks__category {
  width: 30%;

  @media screen and (max-width: 900px) {
    & {
      width: 45%;
    }
  }

  @media screen and (max-width: 550px) {
    & {
      width: 90%;
    }
  }
}

.tasks__title {
  text-align: center;
}

.to-do-list {
  width: 100%;
  padding: 1rem;
}

.tasks__add-todo {
  margin: 2rem auto;
}

.tasks__empty-list {
  text-align: center;
  margin: 5rem 0;
}
