$color-darkGreen: #4a5759;
$color-inProgress: #729777;
$color-green: #b0c4b1;
$color-lightGreen: #dedbd2;
$color-completed: #cea08a;
$color-beige: #f7e1d7;
$color-lightGrey: #efe9e7;
$color-vinous: #844850;
$color-darkPink: #c36f7c;
$color-pink: #edafb8;
$color-lightPink: #f7dee2;
$color-mainText: #272727;
$color-background: #fff;
$color-expired: #c5283d;
$color-progress: #39c9b8;
$color-completed: #ffb30f;

$font-caveat: 'Caveat', cursive;
$font-monserrat: 'Montserrat', sans-serif;
